* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain {
    width: 80%;
    height: 70%;
    display: flex;
}

.img-big-container {
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.img-right {
    width: 100%;
    height: 20%;
}

.immage-cities {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.immage-cities img {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    bottom: 2em; 
    right: 2em;
    color: white;
    text-align: right;
}

.immage-cities.active {
    display: block;
}

.img-little-container {
    width: 20%;
    height: 100%;
    background: #000;
    position: relative;
}

.img-right {
    opacity: 0.5;
}

.img-right img {
    width: 100%;
    height: 100%;
}

.img-right.active {
    border: 2px solid #ccc;
    opacity: 1;
}

.fa-arrow-alt-circle-up {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
}

.fa-arrow-alt-circle-down {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
}